.calendar {
    flex: 1 1 auto;
    margin: 32px;
    &__link-wrapper {
        display: block;
        text-align: end;
    }
    & .engaged {
        &-note {
            background-color: #FDFFAA;
            cursor: pointer;
            &:hover {
                background-color: #FCFF61;
           }
        }
        &-patient {
            background-color: #C0FFAA;
            cursor: pointer;
           &:hover {
                background-color: #8DFF65;
           }
        }
    }
    & .schedual {
        max-height: 70vh;
        overflow: auto;
        box-shadow: 0px 4px 16px 0px rgba(33,33,33,0.1);
        border: 1px solid #eeeeee;
        &__time {
            display: block;
            padding: 5px;
            &-free {
                padding: 10px;
                cursor: pointer;
                &:hover {
                    background-color: #eeeeee;
                }
            }
        }
        
    }
}
