.calendar {
    width: fit-content;
    margin: 48px 32px;
    & .engaged {
        &-note {
            background-color: #FDFFAA;
            cursor: pointer;
            &:hover {
                background-color: #FCFF61;
           }
        }
        &-patient {
            background-color: #C0FFAA;
            cursor: pointer;
           &:hover {
                background-color: #8DFF65;
           }
        }
    }
    & .schedual {
        max-height: 70vh;
        width: 70vw;
        overflow: auto;
        &__time {
            display: block;
            padding: 5px;
            &-free {
                padding: 10px;
                cursor: pointer;
                &:hover {
                    background-color: #eeeeee;
                }
            }
        }
    }
}