.toothpicker {
    display: flex;
    margin-top: 22px;
    align-items: center;
    flex-direction: column;
    user-select: none;
    &__box {
        display: flex;
        align-items: flex-end;
        gap: 5px;
        margin-bottom: 10px;
        cursor: pointer;
        &:last-child {
            margin-bottom: 0px;

        }
        &-bottom {
            align-items: flex-start;
        }

    }
    &__active {
        & > svg {
            fill: #7dfa50;
        }
    }
}